<h3>Select The Accounts To Link</h3>


<%= form_tag "/plaid/accounts", method: "post", remote: true do %>
  <%= hidden_field_tag "account[access_token]", params["access_token"] %>
  <%= hidden_field_tag "account[name]", params["name"] %>
  <%= hidden_field_tag "account[type]", params["type"] %>
  <%= hidden_field_tag "account[owner_id]", params["owner_id"] %>
  <%= hidden_field_tag "account[owner_type]", params["owner_type"] %>
  <%= label_tag "start_date" %> <%= date_field_tag "account[transactions_start_date]" %>
  <% @accounts.each_with_index do |account,index| %>
    <%= check_box_tag "account[account_ids][]", account.account_idid,nil,{id: "account_account_ids_#{index}"}%> 
    <label for="account_account_ids_<%=index%>"> <%= "#{account.name} - #{account.mask}"%></label><br/>
  <%end%>

  <%= submit_tag "Save", :class=>"button small" %>
  <%= button_tag "Cancel" , :class=>"button small close"%>
<%end%>
