<button id="plaidLinkButton" class="small">Link your Bank Account</button>


<div id="plaid-data"
     data-client-name="<%= client_name %>"
     data-env="<%= Rails.env.production? ? "production" : "tartan"%>"
     data-key="<%=  PlaidRails.public_key %>"
     data-webhook="<%=  PlaidRails.webhook %>"
     data-owner-type="<%=  owner.class.name %>"
     data-owner-id="<%=  owner.id %>">
</div>

<%=javascript_include_tag "https://cdn.plaid.com/link/stable/link-initialize.js" %>
<%=javascript_include_tag "plaid_rails/link.js" %>